@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  font-family: 'Poppins',sans-serif;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  color: #ededed;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}
.logo::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}
.navbar a{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}
.navbar a:hover{
  color: #00abf0;
}
.home{
  height: 100vh;
  background: url('home.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.home-content{
  max-width: 600px;
}
.home-content h1{
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
.home-content h1::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content h3{
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}
.home-content h3::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}
.home-content p{
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}
.home-content p::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}
.home-content .btn-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.home-content .btn-box::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}
.btn-box a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box a:hover{
  color: #00abf0;
}
.btn-box a:nth-child(2){
  background: transparent;
  color: #00abf0;
}
.btn-box a:nth-child(2):hover{
  color: #081b29;
}
.btn-box a:nth-child(2)::before{
  background: #00abf0;
}
.btn-box a::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}
.btn-box a:hover::before{
  width: 100%;
}
.home-sci{
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.home-sci::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}
.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.home-sci a:hover{
  color: #081b29;
}
.home-sci a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
}
.home-sci a:hover::before{
  width: 100%;
}
.home-imgHover{
  position: absolute;
  top: 0;
  right: 110px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHover .1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}
.home-imgHover:hover{
  background: #081b29;
  opacity: .8;
}
.home-imgHover::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;
}
/*KEYFRAMES ANIMATION*/
@keyframes showRight{
  100%{
    width: 0;
  }
}
@keyframes manipActiveHover{
  100%{
    pointer-events: auto;
  }
}
#section2{
  height: 100vh;
  background: #164B60;
  width: 100%;
}
#section2 about{
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
}
#section3{
  height: 100vh;
  background: #1B6B93;
  width: 100%;
}
#section3 bodyp{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section3 header3{
  color: #081b29;
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section3 .cards{
  padding-yop: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#section3 .card{
  background-color: #fff;
  color: hsl(233,135,49%);
  border-radius: 0.8rem;
}
#section3 .cards .card.active{
  background: linear-gradient(135deg,rgba(165, 168, 240, 1.0)0%, rgba(105,111,221,1)100%);
  color: #fff;
  font-weight: 900;
  display: flex;
  align-items: center;
  transform: scale(1.1);
  z-index: 1;
}
#section3 ul{
  margin: 2.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#section3 ul li{
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
}
#section3 ul li.price{
  font-size: 2.5rem;
  color: hsl(232, 13%, 33%);
  padding-bottom: 2rem;
}
#section3 .shadow{
  box-shadow: -5px 5px 15px 1px rgba(0,0,0,0.1);
  color: black;
  font-weight: 600;
}
#section3 .card.active .price{
  color: #fff;
}
#section3 .btn{
  margin-top: 1rem;
  height: 2.6rem;
  width: 13.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(135deg,rgba(163, 168, 240, 1)0%, rgba(105,111,221,1)100%);
  color: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}
#section3 .active-btn{
  background: #fff;
  color: hsl(237, 63%, 64%);
}
#section3 .no{
  cursor: no-drop;
}
#section3 .bottom-bar{
  border-bottom: 2px solid hsl(240,8%,85%,0.583);
}
#section3 .card.active .bottom-bar{
  border-bottom: 2px solid hsl(240,8%,85%,0.253);
}
#section3 .pack{
  font-size: 1.1rem;
}
#section4{
  height: 100vh;
  background: #2E8A99;
  width: 100%;
}
#section4 faq{
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
}
#section5{
  height: 100vh;
  background: #84A7A1;
  width: 100%;
}
#section5 contact{
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
}
#section5 p{
  position: relative;
  text-align: center;
  width: 100%;
  top: 85%;
}
